.form {
  width: 35vw;
  height: 60vh;
  padding: .6rem;
  overflow: hidden;
  background-color: var(--bg-white);
  position: relative;
}
.form--shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.form::before {
  content: ' ';
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: var(--bg-blue-bright);
  position: absolute;
  bottom: 20%;
  right: 25%;
}

.form__title {
  font-size: 1.6rem;
  text-align: center;
  color: black;
  filter: invert(1);
}

.form__field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__field--medium {
  width: 75%;
}

.form__field-center-m {
  margin: auto;
}

.form__field-mt-15p {
  margin-top: 15px;
}

.form__input {
  width: 100%;
  padding: .5rem;
  outline: none;
  background: none;
  border: 2px solid #04364A;
  border-top: none;
  border-left: none;
  border-right: none;
}

.form__buttons {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.form__reset {
  text-align: center;
}