.layout-list-chat {
  display: flex;
  background-color: var(--bg-white);
}

.layout-list-chat--list {
  width: 20%;
}

.layout-list-chat--content {
  background-image: url(https://res.cloudinary.com/dqmkovsdy/image/upload/v1709241300/chat/fondos/xrbhvebh7rrwpxqhzd6t.png);
  background-position: center;
  background-size: cover;
  flex-grow: 1;
}