.chat {
  background-color: blue;
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
}

.chat__content {
  background-image: url(https://res.cloudinary.com/dqmkovsdy/image/upload/v1704312639/go3f6bsd4qtpybv2wley.jpg);
  background-position: center;
  background-size: cover;
  flex-grow: 1;
}