.chat {
  width: 100%;
  height: 100%;
  background-color: #ddc3c3;
  position: relative;
}


/* ///// send message ///// */

.chat__box-send-message {
  width: 100%;
  padding: .5rem;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 1%;
}

/* ... form del send message ... */

.chat__form {
  padding: 1rem 1.5rem;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

/* ... button ... */

.button--send-message {
  height: min-content;
  background-color: #5E1675;
}

/* ... input ... */

.input--send-message {
  min-width: 300px;
  max-width: 400px;
  resize: none;
  overflow: auto;
  background-color: white;
  display: inline-block;
}
