.chat {
  width: 100%;
  height: 100%;
  background-color: #ddc3c3;
  position: relative;
}


/* ///// send message ///// */

.chat__box-send-message {
  width: 100%;
  padding: .5rem;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 1%;
}

/* ... form del send message ... */

.chat__form {
  padding: 1rem 1.5rem;
  backdrop-filter: blur(10px);
  display: flex;
  gap: 5px;
}

/* ... button ... */

.button--send-message {
  background-color: #5E1675;
}
