.header {
  background-color: #FFF;
  box-shadow: 0px 8px 10px #B4D4FF;
  padding: .5rem;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list .menu__item {
  display: inline-block;
}

.menu__link {
  padding: .3rem .5rem;
  margin: 5px;
  color: #176B87;
}