.menu {
  height: 8vh;
  max-height: 300px;
  background-color: #EEEDEB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__navegation {
  padding: .1rem;
  text-align: center;
}


.list {
  background-color: chocolate;
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    display: block;
}

.list {
  padding: .2rem;
  position: absolute;
  top: 8%;
}
