.list-chat {
  height: 100%;
  background-color: var(--bg-white);
}

.list-chat__list {
  padding: .8rem;
  gap: 4px 0px;
}

.list-chat__item { 
  width: 100%;
  background-color: #041216;
  border-radius: 10px;
  position: relative;
}

.list-chat__link { 
  width: 100%;
  padding: .3rem .3rem;
  display: flex;
  gap: 0 10px;
}

/* ... imagen del avatar ... */
.list-chat__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.list-chat__img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}

/* ... name, isOnlien and last message ... */

.list-chat__information {
  width: max-content;
  flex-grow: 1;
}

.list-chat__name {
  font-weight: 600;
  letter-spacing: 1px;
  color: #27374D;
}

.list-chat__message {
  width: 140px;
  color: #6B728E;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

/* cricle */

.circle {
  width: 5vh;
  height: 5vh;
  max-width: 90px;
  max-height: 90px;
  border-radius: 50%;
  position: absolute;
}

.circle--offline {
  background-color: #344955;
}

.circle--online {
  background-color: #0B60B0;
}

.circle--small {
  width: 2vh;
  height: 2vh;
  max-width: 20px;
  max-height: 20px;
}

.circle--0-tr {
  top: 0;
  right: 0;
}