.list-chat {
  height: 100%;
  color: #176B87;
  background-color: #607274;
}

.list-chat__list {
  padding: .8rem;
}

.list-chat__item { 
  background-color: none;
}

.list-chat__link { 
  padding: .3rem .3rem;
  background-color: cornflowerblue;
  display: flex;
}