.profile {
  max-width: 100%;
  padding: 12px 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  height: 300px;
  margin-top: 0;
  background-color: blue;
  position: relative;
}

.profile__image-header {
  width: 100%;
  height: 100%;
  background-color: red;
}

.profile__image-header img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile__image-user {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.profile__image-user::before {
  content: '';
  width: 120%;
  height: 120%;
  border-radius: inherit;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: white;
}

.profile__image-user img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  object-position: center;
}

.profile__name-user {
  margin: auto;
  margin-top: 60px;
  font-size: 25px;
  text-align: center;
}

.profile__username {
  margin: auto;
  color: gray;
  font-size: 20px;
  text-align: center;
}


.profile__form {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.form__field--profile {
  width: max-content;
  margin: auto;
  margin-top: 10px;
  border: none;
}

.form__label--profile {
  margin-bottom: 5px;
}

.form__input--profile {
  border: 0px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.profile__content-button {
  width: 100%;
  margin-top: 5px;
  display: inline-flex;
  align-items: center;
}

.button__profile {
  margin: auto;
}



.sub-title {
  text-align: center;
  font-size: 25px;
}


.list--profile {
  width: 250px;
  padding: 2px;
  background-color: transparent;
  position: static;
}
.item {
  width: 100%;
  background-color: white;
  box-shadow: 5px 5px 5px gray;
}

.user-content {
  width: 100%;
  padding: 5px;
  display: flex;
}

.user-content__name {
  color: var(--blue-bright);
  text-align: center;
}

.user-content__avatar {
  width: 20%;
  height: 50px;
  border-radius: 50%;
  background-color: chartreuse;
}

.user-content__avatar img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  object-position: center;
}
