.input-message {
  width: 100%;
  background-color: red;
}

.input-message__message {
  outline: none;
  border: none;
  width: 90%;
}

.input-message__button {
  width: 10%;
  border: none;
  background-color: azure;
}