.input-message {
  width: 100%;
  background-color: red;
}

.input-message__message {
  width: 90%;
  padding: .8rem;
  outline: none;
  border: none;
}

.button-message {
  width: 10%;
  padding: .8rem;
  border: none;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  background-color: #176B87;
}