.input-message {
  width: 100%;
  background-color: red;
}

.input-message__message {
  width: 90%;
  padding: .8rem;
  outline: none;
  border: none;
}

.input-message__button {
  width: 10%;
  padding: .8rem;
  border: none;
  background-color: azure;
}