.search {
  width: 100%;
  background-color: red;
}

.search__wrappe {
  width: 100%;
  padding: .4rem;
  display: flex;
}

.input--rounded-10px {
  border-radius: 10px;
}

.button--search { 
  background-color: #EEEDEB;
  color: black;
}
