.search {
  width: 100%;
  max-width: 350px;
  background-color: red;
}

.search-wrappe {
  width: 100%;
  display: flex;
}

.search-input {
  flex: 2;
}

.search-button { 
  background-color: cornflowerblue;
  border: none;
}
