.user-preview {
  padding: .5rem;
  background-color: #0A1D56;
  display: flex;
  position: fixed;
  left: 50%;
}

.user-preview--center-content { 
  align-items: center;
}

.user-preview--top-65 {
  top: 65px;
}

.user-preview--gap-20 {
  gap: 20px;
}

/* information */

.user-preview__username {
  color: #fff;
}

.user-preview__frende {
  color: #0B60B0;
}

.user-preview__blue {
  color: #0B60B0;
}

/* list - items del menu */

.list {
  padding: .5rem;
  background-color: red;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
}

.list--sub {
  display: none;
}

.list__item {
  background-color: blue;
  padding: .3rem .4rem;
}
