.user-preview {
  width: max-content;
  padding: .5rem;
  background-color: #0A1D56;
  display: flex;
  position: sticky;
}

.user-preview--center-x {
  transform: translateX(-50%);
  left: 50%;
}

.user-preview--center-content { 
  align-items: center;
}

.user-preview--top-65 {
  top: 65px;
}

.user-preview--top-4 {
  top: 4%;
}

.user-preview--gap-20 {
  gap: 20px;
}

/* information */

.user-preview__username {
  font-size: 18px;
  color: #fff;
}

.user-preview__frende {
  color: #0B60B0;
}

.user-preview__blue {
  color: #0B60B0;
}

/* list - items del menu */

.list {
  padding: .5rem;
  background-color: #0A1D56;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
}

.list__item {
  color: #fff;
  background-color: #0B60B0;
  padding: .3rem .4rem;
}
