@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400&display=swap');
:root {
  /* colors */
  --blue-bright: #2563eb;
  --white: #ffffff;
  --gray-pearl: #f1f5f9;
  --gray-teel: #6e7886;
  /* background */
  --bg-blue-bright: #2563eb;
  --bg-white: #ffffff;
  /* font-family */
  --font-family-heebo: "Heebo";
}

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-heebo);
  font-size: 16px;
}

/* class globals */

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
}

.container--center {
  align-items: center;
  justify-items: center;
}

/* utils */

.position-relative {
  position: relative;
}