.message {
  max-width: 420px;
  height: auto;
  padding: .5rem;
  margin-top: 8px;
  font-size: 15px;
  background-color: #176B87;
  display: inline-block;
}

.message--float-right {
  float: right;
  clear: both;
}

.message--rounded-10px {
  border-radius: 10px;
}

.message__options {
  display: none;
}

.message__content {
  height: auto;
  text-wrap: wrap;
  word-break: break-all;
  line-height: 15px;
}
