.message {
  max-width: 420px;
  height: auto;
  padding: .5rem;
  margin-top: 8px;
  font-size: 15px;
  background-color: #F6F5F5;
  display: inline-block;
  position: relative;
}

.message__name { 
  color: #0B60B0;
}

.message__name--left {
  text-align: end;
}

.message--float-right {
  float: right;
  clear: both;
}
.message--float-left {
  float: left;
  clear: both;
}

.message--rounded-10px {
  border-radius: 10px;
}

.message__options {
  display: none;
}

.message__content {
  height: auto;
  text-wrap: wrap;
  word-break: break-word;
  line-height: 15px;
}
