.message {
  width: 40%;
  height: auto;
  min-width: 200px;
  padding: .5rem;
  background-color: #176B87;
}

.message--rounded-10px {
  border-radius: 10px;
}

.message__options {
  display: none;
}

.message__content {
  height: auto;
  text-wrap: wrap;
  word-break: break-all;
  line-height: 15px;
}
